<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <dialog id="myDialog">This is a dialog window</dialog>
    <div class="container">
      <div class="header">
        <h1>OSCMAPI</h1>
        <p class="lead"></p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <iframe src="map" id="main-frame" name="main-frame" class="map_container"></iframe>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript"
    src="js/vendor/jquery.js">
  </script>
  <script type="text/javascript"
    src="js/vendor/lodash.compat.min.js">
  </script>
  <script type="text/javascript"
    src="js/eventing/porthole.js">
  </script>
  <script
    src="js/eventing/main_context.js">
  </script>
  <script type="text/javascript">
      /*
      * Create proxy windows to send to and receive
      * messages from the iFrame.
      */
      $(document).ready(function () {
          // Create a proxy window to send to and receive
          // messages from the iFrame
          window.addWindowProxy(
              '/proxy.html',
              'main-frame'
          );

          window.addWindowProxy(
              '/proxy.html',
              'frame-2'
          );
          window.addWindowProxy(
              '/proxy.html',
              'frame-3'
          );
          window.addWindowProxy(
              '/proxy.html',
              'frame-loader'
          );

      });

      function dialogBox(message) {
          console.log(message);
          var dialogBox = document.getElementById('myDialog');
          dialogBox.textContent = message;
          dialogBox.show();
          setTimeout(function () {
              document.getElementById('myDialog').close();
          }, 1000);
      }

    </script>
</html>
